<main>
  <section class="section-about">
    <div>
      <h3 class="heading-secondary u-margin-bottom-16 u-center-text">
          Exciting tour for adventurous people
      </h3>
      <div class="row">
        <div class="col-1-of-2">
          <h3 class="heading-tertiary  u-margin-bottom-4">You are going to fall in love with nature</h3>
          <p class="paragraph">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Libero cum earum beatae, magni possimus labore
            aliquid sit! Odit error porro voluptatibus minus debitis voluptas
            ex aliquam repellendus, provident iusto itaque?</p>
          <h3 class="heading-tertiary u-margin-bottom-4">Live adventures like you never live before.</h3>
          <p class="paragraph">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Libero cum earum beatae, magni possimus labore</p>
          <a href="#" class="btn-text">Learn more &rarr;</a>
        </div>
        <div class="col-1-of-2">
          <div class="composition"><img src='assets/img-1.jpg' class="composition__photo composition__photo--p1" ></div>
          <div class="composition"><img src='assets/img-2.jpg' class="composition__photo composition__photo--p2" ></div>
          <div class="composition"><img src='assets/img-3.jpg' class="composition__photo composition__photo--p3" ></div>
        </div>
      </div>
    </div>
  </section>
</main>
