@mixin  clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin  grid {
  @for $i from 2 through 4 {
    @for $j from 1 through $i {
      $tem : $j - 1;
      .col-#{$j}-of-#{$i} {
        width: calc( #{$j} * (100% - #{($i - 1) * $gutter-horizontal})/#{$i}  + #{$tem} * #{$gutter-horizontal} );
        &:not(:last-child) {
          margin-right: $gutter-horizontal;
        }
      }
    }
  }
}

@mixin margin {
  @for $i from 1 through 20 {
    .u-margin-bottom-#{$i} {
      margin-bottom: 0.5 * $i * 1rem;
    }
  }
}
