
$logo-image: url('assets/logo.png');
$logo-image-height:  3.5rem;
$logo-top: 4rem;
$logo-left: 4rem;

$color-white: #fff;
$color-gray:  rgb(122, 122, 122);

$gardient-color-image:  linear-gradient(90deg, rgba(254, 254, 254, 0.8) 0%, rgba(0, 212, 255, 0.8) 100%), url('assets/backgroud.jpg');

$color-primary-light : rgb(111, 238, 250);
$color-primary-dark : rgb(0, 193, 231);
$color-primary:rgb(42, 197, 228);

//font sizes
$default-font-size: 1.6rem;
